.header-bg-color{
    background: #264653;
}
.custom-btn{
    background: #E76F51;
    color: #ffff;
    border-radius: 8px;
    padding: 9px 25px ;
    border: none;
}
.custom-btn:hover{
    background: #FFFFFF;
    color: coral;
    border: 1px solid coral;
}
.custom2-btn{
    background: black;
    color: white;
    border-radius: 8px;
    padding: 9px 25px ;
    border: none;
}
.custom2-btn:hover{
    background: #FFFF;
    color: black;
    border: 1px solid black;
}
.h1-body{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 48px;
}
.text-h1-body{
    color: #0A0826;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
}

.p-body{
    color: #E0E0E0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;

}
.img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
.img:hover{
    -webkit-filter: grayscale(0);
    filter: none;
}
.i-body{
    color: coral; 
}